body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
  color: #111;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}